* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    max-width: 100%;
    font-family: 'Campton';
  }
html, body {
    height: 100%;
  }
  body {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #171717;
    color: #000;
    line-height: 1.6;
    position: relative;
    font-family: sans-serif;
    margin-bottom: 120px;
    margin-top: 30px;
    grid-row: 1;
  }
  .lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 100vw;
  }
  
  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
  }
  .line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    -webkit-animation: drop 7s 0s infinite;
            animation: drop 7s 0s infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
            animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }
  .line:nth-child(1) {
    margin-left: -25%;
  }
  .line:nth-child(1)::after {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .line:nth-child(3) {
    margin-left: 25%;
  }
  .line:nth-child(3)::after {
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
  }
  
  @-webkit-keyframes drop {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }
  
  @keyframes drop {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }

  .navbar {
    margin-top: -30px;
    background: #006eff;
    border-bottom: 4px solid  #ffd700;
    border-radius: 0 0 10px 12px;
    paint-order: fill;
  }
  .navbar-brand{
    padding: auto;
    margin: auto;
    position: relative;
  }
.img{
   text-align: center !important;
   position: absolute;
   background: #ffd700;
   width: 250px;
   height: 250px; 
   margin : 35px 0 0 550px;
  }
.col{
    margin-top: 50px;
}
  .display-3{
    color: white;
    position: relative;
    text-align: center !important;
    text-shadow: 1px 3px 2px #003984;
    font-size: 2.5em;
    margin-bottom: -53px !important;
    margin-top: 30px;
    padding-top: 320px;
  }
  .kotak{
  width: 190px;
  height: 60px;
  background: #006eff ;
  border: 4px solid #ffd700;
  margin-left: 580px;
  margin-top: -40px;
  border-radius: 10px;
}
  .icon{
    padding: 10px 13px 0 0; 
    font-size: 2.5em;
    text-shadow: 1px 3px 2px #2180fc;
  }
  .btn {
    width: 450px;
    height: 78px;
    border: 3px solid #ffd700;
    outline: none;
    font-weight: 700;
    font-size: 1.05rem;
    color: #ffd700;
    background: #006eff;
    cursor: pointer;
    position: relative;
    margin: 10px 20px 10px 120px !important;
    padding: 10px 20px 10px 20px !important;
    z-index: 0;
    border-radius: 10px;
}

.btn:before {
    content: '';
    background: linear-gradient(#006eff,#003984);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(15px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn:active {
    color: #00fbff;
}

.btn:active:after {
    background: transparent;
}

.btn:hover:before {
    opacity: 1;
}
.btn:hover::after {
  opacity: 2;
}

.btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #006eff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
@media (max-width: 480px) {
.img{
    width: 180px;
    height: 180px; 
    margin-left: 98px; 
    margin-top: 40px;
}
.icon{
  padding: 10px 13px 0 10px; 
}
  .display-3{
  color: white;
  position: relative;
  margin-top: 10px;
  padding-top: 260px;
  padding-bottom: 28px;
  font-size: 35px;
  margin-bottom: -78px !important;
  text-shadow: 1px 3px 2px #003984;
}
.kotak{
  
  height: 60px;
  border: 3px solid #ffd700 !important;
  border-radius: 10px;
  margin-left: 93px;
  margin-top: 3px;
  margin-bottom: -40px !important;
  padding-top: 30px;
}
.col{
  margin-top: 45px;
}
.btn{
  width: 300px;
  max-width: 100%;
  margin: 10px 0 10px 10px !important;
}
}